/*Gradiente*/
.body{
	font-family: sans-serif;
	/*Máxima Compatibilidade*/
	background: rgb(102,0,0);
	background: -moz-linear-gradient(90deg, rgba(102,0,0,1) 0%, rgba(204,17,0,1) 50%, rgba(255,0,0,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(102,0,0,1) 0%, rgba(204,17,0,1) 50%, rgba(255,0,0,1) 100%);
	background: linear-gradient(90deg, rgba(102,0,0,1) 0%, rgba(204,17,0,1) 50%, rgba(255,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#660000",endColorstr="#ff0000",GradientType=1);
	width: 100%;
	color: white;
}

.imgSite{
	display: inline-block; 
	vertical-align: middle; 
	text-align: center;	
}

/*Transição e Transformação*/
.imgPagina:hover{
	transform: scale(1.2);
	transition: all 0.5s ease;
}

.nomeSite{
	display: inline-block; 
	vertical-align: middle;
	text-align: left;
}

.nomeSite > h1{
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 90px;
}

/*Gradiente*/
.tituloPagina{
	background: linear-gradient(to right, #0f0ff8, #c5c5f7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.borda{
	border: 4px solid transparent;
	border-image: linear-gradient(to right,  #c9c2c2, #88888a)1;
}

.titulo{
	font-size: 25px;
	text-align: center;
}

.nomeSerial{
	font-size: 25x;
	color: red;
}

.conteudo{
	font-size: 22px;
}

.img{ 
	transition: all 0.3s ease;
	opacity: 0.5; /*deixa a imagem mais clara*/
}

/*Transição*/
.img:hover{
	opacity: 1; /*escurece a imagem*/
}

/*Transição*/
.img:active{
	border-radius:50%;
}

.section{
	display: flex;
}

.section2{
	display: inline-block;
	width: 70%;
}
.section3{
	display: inline-block;
	width: 30%;
}

/*Gradiente*/
.aside{
	display: inline-block;
	width: 30%;
	background: rgb(244,0,0);
	background: -moz-linear-gradient(225deg, rgba(244,0,0,1) 0%, rgba(255,78,63,1) 74%, rgba(244,151,139,1) 100%);
	background: -webkit-linear-gradient(225deg, rgba(244,0,0,1) 0%, rgba(255,78,63,1) 74%, rgba(244,151,139,1) 100%);
	background: linear-gradient(225deg, rgba(244,0,0,1) 0%, rgba(255,78,63,1) 74%, rgba(244,151,139,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f40000",endColorstr="#f4978b",GradientType=1);
}

/*Transição*/
.link:active{
	color: black;
}

/*Gradiente*/
.tabela{
	width: 100%;
	background: rgb(255,0,0);
	background: -moz-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(244,0,0,1) 50%, rgba(244,151,139,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(244,0,0,1) 50%, rgba(244,151,139,1) 100%);
	background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(244,0,0,1) 50%, rgba(244,151,139,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#f4978b",GradientType=1);
}

/*Gradiente*/
.bordaTabela{
	border-collapse: collapse;
	border: 4px solid transparent;
	border-image: linear-gradient(to right,  #c9c2c2, #88888a)1;
}

.celula{
	text-align: right;
}

/*vai pegar tanto no th quanto no td*/
th, td{
	border-collapse: collapse;
	border: 4px solid transparent;
	border-image: linear-gradient(to right,  #c9c2c2, #88888a)1;
}

/*Gradiente*/
.formulario{
	background: rgb(255,0,0);
	background: -moz-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(244,0,0,1) 50%, rgba(244,151,139,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(244,0,0,1) 50%, rgba(244,151,139,1) 100%);
	background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(244,0,0,1) 50%, rgba(244,151,139,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#f4978b",GradientType=1);
}

/*Transição*/
/*input[type="checkbox"] - significa que vai funcionar quando for uma input com o type checkbox*/
input[type="checkbox"] { 
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid #000000;
	outline: none;
	cursor: pointer;
}

input[type="checkbox"]:checked {
	background-color: black;
}

.icons{
	display: inline-block; 
	margin-top: 5px;
	margin-left: 50px;
}

.icon{
	display: inline-block; 
	margin-right: 30px;
}

/*Transição e Transformação*/
.iconScale:hover{
	transform: scale(2);
	transition: all 0.5s ease;
}

/*Transformação*/
.iconScale:active{
	-webkit-transform: rotateZ(-30deg);
	-ms-transform: rotateZ(-30deg);
	transform: rotateZ(-30deg); /*rotateZ - diagonal*/
}

.anoAtualizacao{
	display: inline-block;
	margin-left: 20%;
	font-size: 80%;
}

.btn {
	padding: 1rem 2rem;
	background: transparent;
	border: 2px solid rgb(00, 00, 00);
	font-size: 1.2rem;
	color: rgb(00, 00, 00);
	cursor: pointer;
	position: inline-block;
}
